{{define "title"}}ParallelCoin.INFO | Trade{{end}}
{{define "canonical"}}https://parallelcoin.info/trade{{end}}
{{define "content"}}
<main class=" ">
    <section class="slider flex items-center justify-center ">
        <div class="txwhite">
            <h1 class="center">{{ .Page.title }}</h1>
            <h2 class="center">{{ .Page.subtitle }}</h2>
        </div>
    </section>
</main>
{{end}}